{% extends "bootstrap/base.html" %}
{% block title %}Harris Data Census{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    {{nav.mynavbar.render()}}
    {{ super() }}
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div style="padding-top: 65px">
      <h1 style="color: #800000; padding-left: 10px;">
          About the Harris Data Census 
      </h1>
    </div>
<div style="padding: 1em">
 <p>The Harris School of Public Policy has a mission *to develop leaders who put evidence first*. Researching and implementing public policy as a science rooted in data is no easy task. Both facets require collaboration, communication, and a rigorous understanding and standard of data.</p>
 <p>This project aims to facilitate this mission by creating a resource for sharing policy-relevant datasets that have been accumulated, cleaned up, and purchased by researchers around the University Community. </p>
 <p>This repository has code for:</p>
 <ul>
     <li> A central repository of metadata that may be of interest to the policy research community.
     <li> A collection of code snippets and insights to guide future researchers with obtaining data.
    <li> An onboarding tool for researchers to share their metadata. 
 </ul>
{% endblock %}

