{% extends "bootstrap/base.html" %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="../static/grids.css">
{% endblock%}
{% block title %}Harris Data Census{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    {{nav.mynavbar.render()}}
    {{ super() }}
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div style="padding-top: 65px">
      <h1 style="color: #800000; padding-left: 10px;">
          Data Sources 
      </h1>
    </div>

    <div id="data_loop">
      {% for dataset in datasets %}
      <div class="dataset_grid">  
          <div class="dataset_content"> 
              <h3 style="text-decoration: underline;">{{ dataset.name }}</h3> 
              <p>{{ dataset.description }}</p> 
          
          {% if dataset.snippet %}
          <code>{{ dataset.snippet }}</code>
          {% endif %}
         </div>
      </div>
      {% endfor %} 
    </div>

    <!--  <img src="https://harris.uchicago.edu/themes/custom/harris_theme/imgs/nav-logo.png" alt="https://harris.uchicago.edu/themes/custom/harris_theme/imgs/nav-logo.png" class="transparent"> -->

  {% endblock %}

